<div id="divulllll">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>TRAVEL THE WORLD</button>
    <span class="example-fill-remaining-space"></span>
    <span class="example-spacer"></span>

    <button mat-button>ABOUT</button>
    <button mat-button>CONTACT</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
    </form>
  </mat-card-content>
  <div class="row">
    <div class="col-md-6"><mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
    </mat-card-actions></div>
    
    <div class="col-md-6 float-right">
      <mat-card-actions>
      <button class="float-right" mat-raised-button (click)="register()" color="primary">REGISTER</button>
      </mat-card-actions>
    </div>
    
  </div>
  
</mat-card>

</div>
   <footer>
      Copyright.
    </footer>

  </div>