
agm-map {
  height: 45em;
}
buttons-select {
  margin-left : 50%;
  margin-right : 50%; 
}

#divullllllll{
	height: 1100px;
	background-image: url("download.jpg");
	size: 120%;
	background-size:  1600px 1200px;
}