<div id="divullllllll">

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-fill-remaining-space"></span>
    <span class="example-spacer"></span>
    <div>
      <button mat-button>ABOUT</button>
      <button mat-button>CONTACT</button>
      <button (click)="logOut()" mat-button>LOG OUT</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container jumbotron">
<div class="col-md-12">
   <div ngbDropdown class="row" style="margin-bottom: 20px;">
      <h6 style="margin-top: 10px;">URRENT TRIP:</h6>
     <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>{{currentItinerary.itineraryName}}</button>
     <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="padding: 80px">
       <button *ngFor="let itinerary of itineraries" (click)="currentItinerary=itinerary" class="dropdown-item">{{itinerary.itineraryName}}</button>
      <button (click)="openNewItineraryModal(newItinerary)" class="dropwdown-item" class="dropdown-item">Add new</button>
      </div>
   </div>
 </div>

<div class="row">
  <div class="col-md-6 col-ms-12" >
      <form  [formGroup]="radioGroupForm" style="size: 80%;">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1"> Calendar
          </label>
          <label ngbButtonLabel class="btn-primary" >
            <input ngbButton type="radio" [value]="2"style="background-color: pink;"> All
          </label>
        </div>
      </form>
  
    <calendar-component [radio]="radioGroupForm.value['model']"></calendar-component>
  </div>
  <div class="col-md-6 col-ms-12">
      <div class="form-group">
          <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
    <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">

    <agm-marker
        *ngFor="let m of markersHolder; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window>
        <button (click)="$event.preventDefault();removeMarker(i)">Remove marker</button>
        <strong>InfoWindow content</strong>
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add</button>
      </agm-info-window>

    </agm-marker>


    </agm-map>
  </div>
</div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add new event</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input placeholder="name" [(ngModel)]="newEventName" />
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="c('ok')" [ngClass]="newEventName?'btn btn-primary':'btn btn-primary disabled'">Add</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #newItinerary let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add a new Trip</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input placeholder="name" [(ngModel)]="newItineraryName"/>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="c('ok')" [ngClass]="newItineraryName?'btn btn-primary':'btn btn-primary disabled'">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

</div>
